.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
body {
	min-width: 960px;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	background-color: #000;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.main-navigation .half-active {
	color: rgba(255,255,255,.8);
}
.main-navigation .active {
	color: #fff;
}

/*Header начало*/

.main-header {
	background: #202020;
}
.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	padding-left: 70px;
}
.main-navigation li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	font-family: 'Source Code Pro', monospace;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 30px 0;
}
.main-navigation .logo {
	font-size: 18px;
    line-height: 21px;
    color: #E7AA74;
    font-weight: bold;
}
.main-navigation a {
	color: #999993;
    font-family: 'Source Code Pro', monospace;
    line-height: 12px;
    letter-spacing: 2px;
    padding-right: 30px;
    transition: 0.2s linear;
    font-weight: bold;
    text-decoration: none;
}
.main-navigation a:hover {
	color: #fff;
}
.link-to-pacients {
	position: relative;
}
.link-to-pacients::before {
	content:"Никулин Николай Анатольевич";
	position: absolute;
	top: 65%;
	left: -10%;
	font-size: 10px;
	color: #5CD9D0;
	white-space: nowrap;
}

/*Header конец*/

/*Левая колонка в историях болезни*/

.profile {
	margin-bottom: 60px;
}
.person-menu {
	float: left;
	width: 300px;
	text-align: center;
	border: 1px white solid;
}
.how-long-sickness-value,
.town-value {
	color: #5CD9D0;
}
.avatar-cover {
	display: inline-block;
	width: 201px;
	height: 201px;
	border: 4px white solid;
	border-radius: 50%;
	overflow: hidden;
}
.avatar {
	width: 100%;
	height: auto;
}
.social-person {
	display: inline-block;
	width: 48px;
	height: 48px;
	vertical-align: top;
	margin-right: 5px;
}
.person-vk {
	background: url("../img/vkontakte_icon.png") center no-repeat;
}
.person-fb {
	background: url("../img/facebook_icon.png") center no-repeat;
}
.person-youtube {
	background: url("../img/youtube_icon.png") center no-repeat;
}
.profile-links a {
	color: #fff;
	font-family: 'Rubik', sans-serif;
	display: block;
	float: right;
	margin-right: 30px;
	margin-left: 60px;
}
.profile-links a:last-child {
    margin-bottom: 30px;
}
a.active-page-person {
	font-weight: bold;
	color: #E7AA74;
}
.profile-links a:hover {
	color: #E7AA74;
}
/*Конец левой колонки в историях болезни*/

/*Правая колонка в историях болезни*/

.person-content {
	float: right;
	width: 636px;
	border: 1px white solid;
}

.blog-img {
	width: 100%;
	height: auto;
}
.img-blog-cover {
	font-size: 0;
	line-height: 0;
}
/*Конец правой колонки в историях болезни*/

/*Футер*/

footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #202020;
}
.social-buttons {
	margin: 0 auto;
	width: 100px;
	font-size: 0;
	transform: translateX(-50%)
}
.socialYT,
.socialVK
 {
	display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: top;
}
.socialYT {
    background: url(../img/40x40grayYTUBE.png) center no-repeat;
}
.socialVK {
    background: url(../img/40x40grayVK.png) center no-repeat;
}
.socialYT:hover {
	background: url(../img/40x40whiteYT.png) center no-repeat;
}
.socialVK:hover {
    background: url(../img/40x40whiteVK.png) center no-repeat;
}
/*Конец Футера*/

/*Карточки больных (страница)*/
.filters-container {
	text-align: center;
}
.filter {
	display: inline-block;
  	padding: 10px 33px;
  	border: none;
  	cursor: pointer;
  	font-weight: 700;
  	font-size: 14px;
  	line-height: 24px;
  	color: #fff;
  	text-decoration: none;
  	vertical-align: top;
  	text-align: center;
  	margin-right: 16px;
  	border: 1px white solid;
}
.filter:hover {
	color: #000;
	background-color: #fff;
}
.filters-container span{
	display: inline-block;
	padding: 10px 33px;
}
.sort-container {
	text-align: center;
}
.sort-container a{
	text-decoration: none;
	color: #fff;
}
a.active-sort {
	text-decoration: underline;
}

/*Карточка больного в поиске*/
.pacients-cards-container {
	font-size: 0;
	text-align: center;
}
.pacient-card {
	display: inline-block;
	width: 218px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	font-size: 16px;
	padding: 10px 10px;
}
.pacient-card-avatar-container {
	display: inline-block;
	width: 201px;
	height: 201px;
	border: 4px white solid;
	border-radius: 50%;
	overflow: hidden;
}
.pacient-card-avatar {
	width: 100%;
	height: auto;
}
.link-to-person {
	color: #E7AA74;
}

/*Конец карточки больного в поиске*/

/*Конец Карточки больных (страница)*/